



.about{

    width: 1280px;
    height: 1080px;
    margin: 50px auto;
  
    
    
}

.about-title{

    color:#07fbfb;
    font-size: 40px;
    font-family: 'Do Hyeon', sans-serif;
    width: auto;
    height: 100px;
    
}




.about-section-background{
display: flex;
justify-content: space-between;
    width: 1280px;
    height: 450px;
    margin-top: 40px;
    box-shadow: rgba(21, 21, 21, 0.611) 3px 8px 8px 2px;
}

.smart-controll{
    
    width: 400px;
    height: 450px;
    
    background-color: rgba(116, 119, 122, 0.108);
}

.security{
   
    width: 400px;
    height: 450px;
    background-color: rgba(116, 119, 122, 0.108);
}
.futuristic{

    width: 400px;
    height: 450px;
    background-color: rgba(116, 119, 122, 0.108);
}


.sc-title, .s-title, .f-title{
padding-top: 10px;
width:400px;
height: 60px;
    color: aliceblue;
    font-size: 25px;
    text-align: center;
    background-color: rgba(43, 53, 62, 0.723);
   
}

.sc-headline, .s-headline, .f-headline{
    width:400px;
    height: 90px;
   
    color: rgb(164, 167, 170);
    font-size: 20px;
    text-align: center;
    background-color: rgba(64, 89, 114, 0.57);
    padding-top: 20px;
}

.cards-background{

    width: 280px;
    height: 250px;
    
    margin:15px auto;
}


.text-seo{

    display: flex;
    width: 1280px;
    height: 400px;
    
    justify-content: space-between;
    box-sizing: border-box;
   
}

.seo-side{
    display: flex;
        width: 500px;
        height: 395px;
        
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        }

.maintextsection{
    width: 700px;
    height: 350px;
    border: 3px dotted #07fbfb76;
    color: aliceblue;
    font-size: 18px;
    padding:20px;
    box-shadow: rgba(21, 21, 21, 0.611) 3px 8px 8px 2px;
    background-size: cover;
   
}




.seo-image{

    width: 300px;
    height: 280px;
    
    background-image: url("../images/seo.avatar.png");
    background-repeat: no-repeat;
        background-size: cover;
        border: 7px dashed #004747;
}

.seo-text{
    margin-top: 10px;
    width: 400px;
    height: 80px;
    

}

.seo-text p{
text-align: center;
    color: rgb(10, 220, 253);
    font-size: 20px;
    padding: 20px;
}






    .cards-background{

        background-image: url("../images/control.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
    

