.contact {
  display: flex;
  max-width: 1280px;
  height: 700px;

  margin: 50px auto;
  justify-content: space-between;
  box-shadow: rgba(21, 21, 21, 0.421) 3px 5px 3px;
}

.contact-form {
  width: 450px;
  height: 695px;
}

.nameform {
  width: 450px;
  height: 60px;

  display: flex;
  justify-content: space-between;
  margin-top: 56px;
}

.contacts-title {
  width: 443px;
  height: 100px;
}

.c-title {
  font-size: 36px;

  color: #07fbfb;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.input-name {
  width: 210px;
  padding-left: 10px;
  height: 36px;
  background-color: rgb(45, 45, 44);
  outline: none;
  border: none;
  color: #07fbfb;
}

.input-surname {
  width: 210px;
  height: 36px;
  outline: none;
  border: none;
  background-color: rgb(45, 45, 44);
  color: #07fbfb;
  padding-left: 10px;
}

.input-email {
  width: 450px;
  height: 36px;
  outline: none;
  border: none;
  background-color: rgb(45, 45, 44);
  color: #07fbfb;
  padding-left: 10px;
}

.input-phone {
  margin-top: 20px;
  width: 450px;
  height: 36px;
  outline: none;
  border: none;
  background-color: rgb(45, 45, 44);
  color: #07fbfb;
  padding-left: 10px;
}

.input-textarea {
  margin-top: 20px;
  width: 450px;
  max-width: 449px;
  min-width: 449px;
  height: 195px;
  max-height: 290px;
  background-color: rgb(45, 45, 44);
  outline: none;
  border: none;
  color: #07fbfb;
}

.submit-button {
  width: 150px;
  height: 40px;
  margin-top: 20px;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  background-color: #07fbfb;
}

.c-title-lable {
  margin-top: 20px;
  font-size: 16px;
  color: aliceblue;
  font-family: "Roboto", sans-serif;
  font-style: italic;
}

.contact-location {
  width: 700px;
  height: 698px;
}

.mapside-info {
  width: 700px;
  height: 132px;

  display: flex;
  flex-wrap: wrap;
}

.adress {
  display: flex;
  font-size: 13px;
  width: 300px;
  height: 35px;
  color: #8a8686;
  font-family: "Roboto", sans-serif;
  font-weight: bold;

  align-items: center;

  box-shadow: rgba(21, 21, 21, 0.207) 0px 2px 0px 0px;
  font-family: "Roboto", sans-serif;
}

.tell {
  display: flex;
  font-size: 13px;
  width: 700px;
  height: 35px;
  color: #8a8686;
  font-family: "Roboto", sans-serif;
  font-weight: bold;

  align-items: center;
  box-shadow: rgba(21, 21, 21, 0.207) 0px 2px 0px 0px;
  font-family: "Roboto", sans-serif;
}

.email-info {
  display: flex;
  font-size: 13px;
  width: 300px;
  height: 35px;
  color: #8a8686;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  box-shadow: rgba(21, 21, 21, 0.207) 0px 2px 0px 0px;
  align-items: center;

  font-family: "Roboto", sans-serif;
}

.map {
  margin-top: 20px;
  width: 696px;
  height: 440px;
}
