.full-item {
  display: flex;
  max-width: 1280px;
  height: 1100px;

  margin: 50px auto;
  justify-content: space-between;
  flex-wrap: wrap;
  box-shadow: rgba(21, 21, 21, 0.611) 1px 5px 5px;
}

.photoslider {
  position: relative;
  display: flex;
  width: 610px;
  height: 550px;

  flex-wrap: wrap;
}

.nexticon3 {
  position: absolute;
  display: flex;

  width: 590px;
  height: 68px;
  bottom: 4px;
  margin-left: 10px;
  justify-content: space-between;
  bottom: 26px;
}

.nexticon3-left {
  width: 55px;
  height: 60px;
  position: relative;
  display: flex;
}

.arrows {
  position: absolute;
  background-color: #07fbfb32;

  margin: 10px auto;
  padding-left: 15px;
  justify-content: center;
  align-items: center;
}

.arrows:hover {
  background-color: #07fbfbac;
}

.nexticon3-right {
  width: 55px;
  height: 60px;
  position: relative;
  display: flex;
}
.nexticon3-right:hover {
  opacity: 100%;
}

.description {
  width: 610px;
  height: 550px;
}

.description-header {
  width: 600px;
  height: 45px;

  margin: 4px auto;
}
h3 {
  color: rgb(2, 220, 202);
  font-size: 40px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.rating {
  display: flex;
  width: 600px;
  height: 40px;

  margin: 4px auto;
}

.stars {
  width: 150px;
  height: 30px;
}

.price {
  color: rgb(231, 243, 6);
  width: 600px;
  height: 50px;
  border-bottom: 2px dotted rgba(0, 244, 224, 0.326);
  margin: 20px auto;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
}

.discrybe {
  width: 600px;
  height: 80px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: aliceblue;
  margin: 20px auto;
  font-style: italic;
}

.items-background {
  position: relative;
  width: 600px;
  height: 410px;
  background-image: url("../images/echo.jpeg");
  background-size: cover;
  margin: 2px auto;
  border: 1px solid rgba(188, 181, 181, 0.351);
  box-shadow: rgba(21, 21, 21, 0.611) 3px 8px 8px 2px;
}

.scale {
  position: absolute;
  display: flex;
  width: 50px;
  height: 42px;
  background-color: #013030a3;
  bottom: 10px;
  right: 10px;
  border-radius: 7px;
}

.scale-icon {
  margin: 0 auto;
}

.downslider {
  width: 193px;
  height: 120px;
  border: 1px solid rgba(188, 181, 181, 0.351);
  margin: 13px auto;
  box-shadow: rgba(21, 21, 21, 0.611) 3px 8px 8px 2px;
}

.purchase {
  display: flex;
  width: 245px;
  height: 100px;
  justify-content: space-between;

  flex-direction: column;
}

label[for="quantity-label"] {
  color: #07fbfb;

  align-items: center;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

select[id="items-quantity"] {
  width: 70px;
  height: 60px;
  background-color: rgb(77, 79, 77);
  border: none;
  color: antiquewhite;
  font-size: 16px;
  padding-left: 7px;
}

.quantity-button {
  margin-top: 20px;
  display: flex;
  width: 270px;
  height: auto;
  gap: 20px;
}

.qu-button {
  width: 150px;
  height: 60px;
  background-color: rgb(231, 243, 6);

  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
}

.qu-button:hover {
  background-color: #07fbfb;
}

.tags-favorites {
  display: flex;
  width: 600px;
  height: 149px;

  margin-top: 10px;
  justify-content: space-between;
  border-bottom: 2px dotted #07fbfb7c;
}

.tags-menu {
  width: 300px;
  height: 148px;
  font-family: "Roboto", sans-serif;
}

.category-tag-headline {
  font-size: 16px;
  font-weight: bold;
  color: darkgray;
  padding: 6px;
}
.tags-tag-headline {
  font-size: 16px;
  font-weight: bold;
  color: darkgray;
  padding: 6px;
}
.discount-tags-headline {
  font-size: 16px;
  font-weight: bold;
  color: darkgray;
  padding: 6px;
}

.tags-socicons {
  display: flex;
  width: 260px;
  height: 53px;

  margin-top: 8px;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.shareicon {
  display: flex;
  width: 74px;
  height: 30px;
  background-color: #07fbfb;
  opacity: 80%;

  justify-content: center;
  border-radius: 30px;
}

.share-icon {
  width: 30px;
  height: 28px;
}

.socicons-icons {
  display: flex;
  width: 150px;
  height: 48px;

  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  opacity: 80%;
}

.socicons-icons:hover {
  cursor: pointer;
  opacity: 100%;
}

.favorites-items {
  width: 250px;
  height: 40px;
  margin-top: 100px;

  display: flex;
  justify-content: space-between;

  align-items: center;
}

.fav-items-icon {
  display: flex;
  width: 80px;
  height: 40px;
  justify-content: space-between;
  align-items: center;
}

.fav-title {
  display: flex;
  width: 120px;
  height: 32px;
  color: #000000;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 255, 255, 0.775);
  border-radius: 30px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

/* review side of items buy section */

.review-offer {
  display: flex;
  max-width: 1280px;
  height: 500px;
  margin-top: 15px;
}

.review {
  width: 750px;
  height: 500px;
}

.review-menu {
  width: 430px;
  height: 40px;

  align-items: center;

  margin-left: 5px;
}

.lireview {
  color: #f4f4f4;
  background-color: rgba(116, 119, 122, 0.108);
  font-size: 24px;
  font-family: "Roboto", sans-serif;
}

.review-section {
  width: 720px;
  height: 350px;
  background-color: rgba(45, 46, 46, 0.719);
  margin-left: 5px;
  margin-top: 17px;
  box-shadow: rgba(21, 21, 21, 0.611) 3px 8px 8px 2px;
  border-radius: 2px;
  color: #b2abab;
  padding: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.item-offer {
  width: 410px;
  height: 370px;

  align-items: center;
  justify-content: center;
  background-image: url("../images/offer3.png");
  background-size: 410px 370px;
  margin: 60px auto;
  opacity: 60%;
}

.item-offer:hover {
  background-size: 411px 372px;
  opacity: 100%;
}

.releited-items {
  box-sizing: border-box;
  max-width: 1280px;
  height: 600px;
  display: flex;
  justify-content: space-between;
  gap: 34px;
  margin: 0 auto;
}

.releited-item {
  margin-top: 40px;
  width: 400px;
  height: 560px;

  display: flex;
  flex-wrap: wrap;
}
