@media only screen and (max-width: 500px) {
  body {
    background-color: #012b32;
    max-width: 500px;
    
    margin: 0 auto;
  }

  .page {
    max-width: 440px;
    width: 100%;
    align-items: center;
    margin: 0 auto;

    box-sizing: border-box;
  }

  header {
    box-sizing: border-box;
  }

  .headside {
    display: flex;
    max-width: 440px;
    margin: 0 auto;
    height: 104px;

    flex-direction: column;
    box-sizing: border-box;
  }

  .topmenu {
    /* max-width: 1440px; */
    width: auto;
    height: 80px;
    align-items: center;
    color: aliceblue;
    background-color: #191919;
    justify-content: center;
    margin: 0 auto;
  }

  .topside {
    display: flex;
    justify-content: space-between;
    background-color: #191919;
    max-width: 440px;

    height: 80px;
    margin: 0 auto;
    align-items: center;
  }

  .lefttopmenu {
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: space-between;
  }

  .account {
    display: flex;
    width: 160px;
    height: 40px;
    font-family: "Roboto", sans-serif;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .account a {
    font-size: 12px;
    color: #ffffff;
  }

  .toprightmenu {
    max-width: 450px;
    height: 40px;
    display: flex;
    justify-content: space-between;
  }

  .topicons {
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    display: none;
  }

  .favorites {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .fav3 {
    position: absolute;
    color: #2f2e2e;
    font-weight: bold;
    font-size: 16px;
    width: 19px;
    height: 19px;
    text-align: center;
    background-color: #07fbfb;
    border-radius: 60px;
    margin-left: 25px;
  }
  .collection {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .fav4 {
    position: absolute;
    color: #2f2e2e;
    font-weight: bold;
    font-size: 16px;
    width: 19px;
    height: 19px;
    text-align: center;
    background-color: #07fbfb;
    border-radius: 60px;
    margin-left: 30px;
  }
  .autorization {
    margin-left: 85px;
    display: flex;
    width: 230px;
    height: 40px;

    justify-content: center;
    align-items: center;
    gap: 18px;
  }

  .register {
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    gap: 6px;
  }

  .login {
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    gap: 6px;
  }

  .downmenu {
    display: flex;
    margin: 1px auto;

    max-width: 440px;
    height: 110px;
    justify-content: space-between;
    box-sizing: border-box;
  }

  .left-menu-burger {
    display: flex;
    flex-direction: column;
    width: 120px;
    height: 350px;
    box-shadow: rgba(21, 21, 21, 0.611) 3px 8px 8px 2px;
  }

  .home2 {
    height: 70px;
    border-bottom: 3px solid rgb(0, 204, 255);
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    align-items: center;
    display: flex;
    transition: 0.5s ease-in-out;
    color: #000000;
    box-sizing: border-box;
    position: relative;
    z-index: 200;
    background-color: #07f3fb;
    padding-left: 3px;
    font-weight: bold;
  }

  .home2:hover {
    border-bottom: 3px solid rgb(191, 255, 0);

    display: flex;

    color: #07fbfb;

    background-color: #3a4143;
  }

  .navigation1 {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 300px;
    box-sizing: border-box;
    align-items: center;
    display: none;
    text-transform: uppercase;
  }

  .navigation-burger {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 300px;
    box-sizing: border-box;
    align-items: center;

    text-transform: uppercase;
  }

  .hamburger {
    display: block;
    background-color: #08b2b286;
    color: #ffffff;
    width: 50px;
    height: 52px;
    padding: 12px;
    border-radius: 2px;
  }

  .hamburger:hover {
    cursor: pointer;
    background-color: #c3ff00;
    color: #000000;
  }

  .expend-burger {
    width: 20px;
    height: 20px;

    display: flex;
  }

  .gapul-burger {
    width: 110px;
    padding: 3px;
    display: flex;
    flex-direction: column;
    display: none;
  }

  .topli-burger {
    height: 70px;
    border-bottom: 3px solid rgba(18, 16, 16, 0.23);
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    padding-left: 3px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    transition: 0.5s ease-in-out;
    color: #07fbfb;
    box-sizing: border-box;
    position: relative;
    z-index: 200;
    background-color: #242829;
  }

  .topli-burger:hover {
    border-bottom: 3px solid rgb(2, 199, 239);
    cursor: pointer;
    background-color: #3a4143;
  }

  .expendul {
    width: 220px;
    display: flex;
    flex-direction: column;
    left: 105px;
    position: absolute;
    top: 0px;
  }

  .expendli {
    width: 210px;
    height: 70px;
    color: #fff;
    background-color: #242222d2;
    display: none;
    border: 1px solid rgb(49, 47, 47);
    align-items: center;
  }

  .expendli:hover {
    color: #06f3ff;
  }

  .topli-burger:hover .expendli {
    display: flex;

    cursor: pointer;
    font-weight: bold;
    padding-left: 10px;
    cursor: pointer;
  }

  .home {
    display: flex;
    padding: 4px;
    font-size: 16.13px;
    font-family: "Roboto", sans-serif;
    gap: 2px;
    line-height: 20px;

    border-bottom: 3px solid #07fbfb;
    cursor: pointer;
    font-weight: bold;
    color: #f4e849;
  }

  .logo {
    width: 60px;
    height: 90px;
    display: flex;
    flex-direction: column;
    margin-left: 8px;
    justify-content: center;
    align-items: center;
  }

  .mainlogo {
    width: 60px;
    height: 60px;

    background-image: url("../images/geolabwhite.svg");
    background-repeat: no-repeat;
  }

  .headline {
    color: antiquewhite;

    font-size: 28px;
    font-family: "Do Hyeon", sans-serif;
    font-weight: bold;
  }

  .searchin {
    width: 330px;
    display: flex;
    height: 50px;
    border: 1px solid #fff;
    border-radius: 25px;
    margin-top: 44px;
  }

  input[type="search"] {
    width: 130px;
    height: 45px;
    padding: 12px 2px;
    margin-left: 16px;
    box-sizing: border-box;

    background-color: transparent;
    border: none;
    border-right: 1px solid #807e7e;
    margin-top: 2px;
    font-size: 14px;
    color: #07fbfb;
  }

  input[type="search"]:focus {
    outline: none;
  }

  input::placeholder {
    font-size: 12px;

    color: rgba(255, 250, 250, 0.533);
  }

  .searchcategory {
    display: flex;
    width: 165px;
    height: 45px;
    margin: 3px 0px 0px 16px;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    font-size: 14px;
  }

  .searchbutton {
    width: 73px;
    height: 46px;
    background-color: #07fbfb;
    border: 0px;
    border-bottom-right-radius: 22px;
    border-top-right-radius: 22px;
    margin-left: 10px;
    margin-bottom: 3px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 13px;
  }

  .searchbutton:hover {
    background-color: #fbfb07;
    cursor: pointer;
  }

  /* left menu and slider */

  .slider-menu {
    display: flex;
    max-width: 440px;
    height: 370px;
    box-sizing: border-box;
    margin: 30px auto;
  }
  .left-menu {
    width: 100px;
    height: 200px;
    box-shadow: rgba(21, 21, 21, 0.611) 3px 8px 8px 2px;
    background-color: #434242a8;
    display: none;
  }

  .slider {
    max-width: 630px;
    height: 350px;

    box-shadow: rgba(21, 21, 21, 0.474) 2px 7px 8px 2px;
  }

  .nexticon1 {
    position: absolute;
    display: flex;

    width: 118px;
    height: 68px;
    bottom: 4px;
    margin-left: 40px;
    justify-content: space-between;
    gap: 2px;
  }

  .nexticon1-left {
    width: 61px;
    height: 60px;
    background-color: #07fbfb;
    opacity: 50%;
  }
  .nexticon1-left:hover {
    opacity: 100%;
  }

  .nexticon1-right {
    width: 61px;
    height: 60px;
    background-color: #07fbfb;
    opacity: 50%;
  }
  .nexticon1-right:hover {
    opacity: 100%;
  }

  div.left-menu ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }

  div.left-menu li {
    width: auto;
    height: 59px;

    align-items: center;
    padding-left: 23px;

    display: flex;

    font-size: 16.13px;
    font-family: "Roboto", sans-serif;

    transition: 0.5s ease-in-out;
  }

  .firstli {
    /* background-color: #f4e849; */

    background-color: #07fbfb;
    border-bottom: 1px solid rgba(102, 103, 105, 0.673);
    color: #070707;
    font-weight: bold;
    padding-top: 10px;
  }

  .middlea {
    font-weight: bold;
    color: #07fbfb;
    transform: scale();

    transition: 0.3s;
    text-decoration: none;
  }

  .middleli {
    font-weight: bold;
    color: #07fbfb;
    transform: scale();
    border-bottom: 1px solid rgba(102, 103, 105, 0.673);
    transition: 0.3s;
    text-decoration: none;
  }

  .middleli:hover {
    cursor: pointer;
    font-weight: bold;
    color: #fef61c;
    transform: scale();
    transition: 0.3s;
  }

  .lastli {
    cursor: pointer;
    font-weight: bold;
    color: #07fbfb;

    border-bottom: none;
  }

  .lasta {
    cursor: pointer;
    font-weight: bold;
    color: #07fbfb;

    border-bottom: none;
  }

  .lastli:hover {
    cursor: pointer;
    font-weight: bold;
    color: #fef61c;
    transform: scale();
    transition: 0.3s;
  }

  .firstli:hover {
    color: #070707;
    font-weight: bold;
  }

  /* service cards in section tag */

  .servicecards {
    display: flex;
    max-width: 440px;
    height: 170px;
    position: relative;
    margin: 1px auto;
    display: none;

    display: flex;
    justify-content: space-between;
  }

  .light {
    max-width: 405px;
    height: 0px;

    background-size: 405px 10px;
  }

  .service-background {
    width: 440px;
    height: 170px;

    gap: 20px;
  }

  .protect {
    width: 200px;
    height: 150px;
    background-image: url("../images/big.png");
    opacity: 0.7;
    background-size: 200px 150px;
    background-position: center;
  }

  .guarantee {
    width: 200px;
    height: 150px;
    background-image: url("../images/gift.png");
    background-size: 200px 150px;
    opacity: 0.7;
  }

  .payment {
    width: 200px;
    height: 150px;
    display: none;
    opacity: 0.7;
    background-image: url("../images/off.png");
    background-size: 200px 150px;
  }

  .protect:hover {
    cursor: pointer;
    opacity: 100%;
    transform: scale(1.1);
    transition: 0.4s ease-in-out;
  }
  .guarantee:hover {
    cursor: pointer;
    opacity: 100%;
    transform: scale(1.1);
    transition: 0.4s ease-in-out;
  }
  .payment:hover {
    cursor: pointer;
    opacity: 100%;
    transform: scale(1.1);
    transition: 0.4s ease-in-out;
  }

  /* title and items card in section side */

  .headlines {
    display: flex;

    width: 440px;
    height: 60px;
    margin: 0 auto;
    align-items: center;
    margin-top: 50px;
  }

  .headline-title {
    display: flex;
    width: 440px;
    height: 40px;
    border-color: #06f3ff;
    align-items: center;
    gap: 1rem;
  }

  .h2-lines {
    width: 180px;
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.622);
    margin-bottom: 12px;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;

    border-radius: 5px;
  }

  .firstline {
    width: 100px;
    box-shadow: rgb(0, 0, 0) 0px 1px 2px 0.3px;
    border-bottom: 1px solid rgba(0, 216, 235, 0.644);
  }

  .secondline {
    width: 350px;
    box-shadow: rgb(0, 0, 0) 0px 1px 2px 0.3px;
    border-bottom: 1px solid rgba(0, 216, 235, 0.644);
  }

  /* offered items card */
  .categories {
    display: flex;
    width: 285px;
    height: 66px;
  }

  .cateories-firstline {
    width: 18px;
    height: 40px;

    border-bottom: 2px solid rgb(199, 193, 193);
    margin-left: 10px;
    margin-top: 0px;
  }

  .cateories-secondline {
    width: 20px;
    height: 9px;

    border-bottom: 2px solid rgb(199, 193, 193);
    margin-left: 55px;
    margin-top: 30px;
  }

  .categories-side {
    display: flex;
    width: 200px;
    height: 50px;

    margin-left: 7px;
  }

  .categorytitle {
    font-size: 13px;
    color: #ffffffdf;
    padding-top: 14px;
    font-style: italic;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    margin-top: 20px;
  }

  .favorites-category-name {
    width: 20px;
    height: 14px;
    font-size: 13px;
    color: #898686;

    margin-left: 5px;
    margin-top: 35px;
  }

  .popularitems {
    display: flex;
    flex-wrap: wrap;
    width: 440px;
    height: 1800px;
    justify-content: space-around;
    margin: 25px auto;
    gap: 0px;
  }

  .items {
    width: 295px;
    height: 430px;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.433) 1px 1px 5px 1px;
    /* background-color: #122b36d2; */

    background-image: linear-gradient(
      to left,
      #0015118a,
      #012f2d,
      #00404b,
      #004954,
      #005e80,
      #027eab
    );
  }

  .items-photo {
    position: relative;
    width: 295px;
    height: 240px;

    opacity: 80%;

    border: 5px solid #2a2a2a74;
  }

  .items-photo:hover {
    -webkit-transition: hight 1s ease-in-out;
    transition: hight 1s ease-in-out;
    height: 295px;
    opacity: 100%;
  }

  .items-description {
    display: flex;
    flex-direction: column;
    width: 295px;
    height: 200px;
    background-color: #2a2a2a74;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
  }

  .item-name {
    width: 275px;
    height: 40px;

    display: flex;
    font-weight: bold;
    margin-top: 10px;
    background-image: linear-gradient(to left, #00747ddc, #11322cd4);
    border-radius: 2px;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
  }

  div .item-name p {
    font-size: 20px;
    color: #ffffff;
  }

  div .item-name p:hover {
    color: #01f2ff;

    font-size: 23px;

    transition: 1.3s;
    font-weight: bold;
  }

  .amount {
    box-sizing: border-box;
    width: 260px;
    height: 50px;
    font-size: 20px;
    color: #ffffff;
    border-top: 1px solid rgb(62, 62, 62);
    font-style: italic;
    margin-left: 16px;

    display: flex;
    justify-content: space-between;

    align-items: center;
  }

  .add-button {
    width: 60px;
    height: 35px;
    background-color: #03faf65c;
    border: none;

    border-radius: 3px;
    color: #fff7f7;
    font-family: "Do Hyeon", sans-serif;
    font-size: 14px;
  }

  .add-button:hover {
    background-color: #fad503;
    color: #070707;
    font-family: "Do Hyeon", sans-serif;
    font-size: 14px;
  }

  /* Offer cards section */

  .offercard {
    display: flex;
    width: 440px;
    height: 200px;
    border: 1 px solid white;
    margin: 30px auto;
    gap: 5px;
    margin-left: 20px;
  }

  .offer1 {
    width: 195px;
    height: 200px;
    border-radius: 2px;
    opacity: 80%;
    background-color: rgba(255, 255, 255, 0.738);
    box-shadow: rgb(21, 21, 21) 5px 8px 5px;
    background-image: url("../images/offer1.png");
    background-size: 195px 200px;
  }
  .offer2 {
    width: 195px;
    height: 200px;
    border-radius: 2px;
    opacity: 80%;
    background-color: rgba(255, 255, 255, 0.738);
    box-shadow: rgb(21, 21, 21) 5px 8px 5px;
    background-image: url("../images/offer2.png");
    background-size: 195px 200px;
  }
  .offer3 {
    width: 210px;
    height: 200px;
    border-radius: 2px;
    opacity: 80%;
    background-color: rgba(255, 255, 255, 0.738);
    box-shadow: rgb(21, 21, 21) 5px 8px 5px;
    background-image: url("../images/offer3.png");
    background-size: 210px 200px;
    display: none;
  }

  .offer:hover {
    width: 410px;
    height: 400px;

    opacity: 100%;
    background-color: rgba(255, 255, 255, 0.738);
    box-shadow: rgb(21, 21, 21) 5px 8px 5px;
  }

  /* NEW ITEMS */

  .newitems {
    display: flex;
    width: 440px;
    height: 4050px;
    justify-content: space-around;
    margin: 22px auto;
    column-gap: 5px;
    row-gap: 25px;
    flex-wrap: wrap;
  }

  /* those cards are located in buttom side of "<section>" mixed card items with left, centered and right aligments of items */

  .mixeditems {
    display: flex;
    width: 440px;
    height: 450px;
    justify-content: space-between;

    margin: 25px auto;
    gap: 1px;
  }

  .leftmixed {
    display: flex;
    width: 190px;
    height: 360px;
    flex-direction: column;
    justify-content: space-between;
    display: none;
    column-gap: 15px;
  }

  .blur-mixed {
    position: absolute;
    width: 215px;
    height: 80px;
    background-color: #222020;
    opacity: 70%;
    bottom: 0px;
  }

  .left-mixed {
    width: 190px;
    height: 360px;
    background-image: url("../images/arlo.jpg");
    position: relative;
    box-shadow: rgb(21, 21, 21) 5px 10px 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2px;
  }

  .mixed-header {
    display: inline-flex;
    position: absolute;
    width: 140px;
    height: 50px;
    background-color: #07fbfb;
    bottom: 12px;
    margin-left: 5px;
    opacity: 60%;
    overflow: hidden;
  }
  .mixed-header:hover {
    position: absolute;
    width: 180px;
    height: 50px;
    background-color: #07fbfb;
    bottom: 12px;
    margin-left: 5px;
    opacity: 90%;
    transition: 0.4s ease-in-out;
  }
  .mixheader-title {
    width: 130px;
    height: 10px;
  }

  .mixedheader {
    width: 150px;
    height: 10px;
    font-family: "Roboto", sans-serif;
    color: #050051;
    font-size: 16px;
    padding-top: 10px;
    padding-left: 10px;
    opacity: 100%;
    font-weight: bold;
    font-style: italic;
  }

  .mixedheader-shop {
    position: absolute;
    color: #ff3232;
    font-size: 14px;
    padding-top: 10px;
    padding-left: 5px;
    opacity: 100%;
    font-weight: bold;
    text-decoration: underline;
    font-family: "Roboto", sans-serif;
    bottom: 90px;
    left: 1px;
  }

  .seemore {
    width: 40px;
    height: 50px;
    margin-left: 10px;
  }
  .see-more {
    width: 40px;
    height: 50px;
    border: none;
    margin-bottom: 50px;
    background-color: #fbff01;
    opacity: 90%;
    font-size: 12px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
  }

  .centermixed {
    width: 440px;
    height: 360px;
    background-image: url("../images/echo.jpeg");
    position: relative;
    background-size: cover;
    box-shadow: rgba(21, 21, 21, 0.515) 5px 10px 5px;
  }

  .blur-mixed-center {
    position: absolute;
    width: 440px;
    height: 80px;
    background-color: #222020;
    opacity: 70%;
    bottom: 0px;
  }

  .nexticon2 {
    position: absolute;
    display: flex;
    width: 100px;
    height: 58px;
    bottom: 4px;
    margin-left: 40px;
    justify-content: space-between;
    gap: 2px;
  }
  .nexticon-left {
    width: 51px;
    height: 50px;
    background-color: #07fbfb;
    opacity: 60%;
    transition: 0.5s ease-in-out;
  }

  .nexticon-left:hover {
    opacity: 100%;
  }
  .nexticon-right {
    width: 51px;
    height: 50px;
    background-color: #07fbfb;
    opacity: 60%;
    transition: 0.2s ease-in-out;
  }

  .nexticon-right:hover {
    opacity: 100%;
  }
  .arrows {
    margin-top: 15px;
    margin-left: 15px;
    opacity: 100%;
  }

  .rightmixed {
    width: 190px;
    height: 360px;
    background-image: url("../images/arlo.jpg");
    position: relative;
    box-shadow: rgba(21, 21, 21, 0.515) 5px 10px 5px;
    display: none;
    box-shadow: rgba(21, 21, 21, 0.515) 5px 10px 5px;
  }

  .right-mixed {
    position: relative;
    width: 190px;
    height: 360px;
    background-image: url("../images/Google-Nest.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2px;
  }

  /* down service cards */

  .downservicecards {
    display: flex;
    width: 440px;
    height: 150px;

    gap: 1px;
    margin: 30px auto;
    justify-content: space-around;
  }

  .sectionservice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    align-items: center;
    width: 100px;
    height: 100px;
    background-image: linear-gradient(
      to left,
      #09e2f1b8,
      #14635acd,
      #03e0adc6,
      #1353569f,
      #1d4f4677
    );
    opacity: 70%;
  }

  .servicetitle {
    height: 60px;
    font-size: 10px;
    font-weight: bold;
    color: rgb(255, 255, 255);
  }

  .serviceicon {
    width: 70px;
    height: 70px;
  }

  /* div .one{
  
          background-color: #434242;
  
        }
  
        div .two{
  
          background-color: #938989;
  
        }
  
        div .three{
  
          background-color: #edc6c6;
  
        }
  
        div .four{
  
          background-color: #a5eedd;
  
        }
   */
  div .sectionservice p {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    display: flex;
    width: 290px;
    height: 150px;
    justify-content: center;
    align-items: center;
  }

  /* brand logos division */

  .brendlogos {
    display: flex;
    width: 440px;
    height: 130px;
    margin: 70px auto;
    justify-content: space-around;

    box-sizing: border-box;
  }

  .brand {
    width: 100px;
    height: 60px;

    background-repeat: no-repeat;
    background-position: center;

    box-shadow: rgba(21, 21, 21, 0.556) 1px 3px 3px;
    opacity: 70%;
  }

  .brendlogosize {
    width: 100px;
    height: 60px;
  }

  .brand:hover {
    width: 100px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: rgba(21, 21, 21, 0.316) 1px 3px 3px;
    opacity: 100%;
  }

  /* starting of "footer" starts by "subscribe" class */

  .footerside {
    display: flex;
    width: auto;
    height: 360px;
    justify-content: space-between;

    justify-content: center;
    align-items: center;
    margin: 20px auto 0px;

    background-color: #2f2f2f58;

    box-shadow: rgba(21, 21, 21, 0.815) 0px 20px 20px 20px;
  }

  .footer-container {
    display: flex;
    width: 440px;
    height: 360px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .logo-section {
    margin: 5px auto;
    width: 280px;
    height: 110px;

    border-right: 1px solid rgba(23, 23, 23, 0.456);
  }

  .footerlogo {
    width: 90px;
    height: 100px;
    margin: 0px auto;
    align-items: center;
    background-image: url("../images/geolabwhite.svg");
    background-repeat: no-repeat;
  }

  .downlogotext {
    width: 280px;
    height: 10px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    font-family: "Do Hyeon", sans-serif;
    font-weight: bold;
  }

  .subscribe {
    width: 310px;
    height: 155px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
  }

  .subscribe-form {
    display: flex;
    flex-direction: column;
    width: 310px;
    height: 340px;

    justify-content: center;
    align-items: center;
  }

  .subsbutton {
    width: 140px;
    height: 45px;
    background-color: #405353;
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 40px;
    box-shadow: rgb(13, 31, 28) 2px 3px 2px 1px;

    justify-content: center;
    align-items: center;
    font-size: 15px;
  }

  .subsbutton:hover {
    cursor: pointer;
    background-color: #3a6b6b;
  }

  .submail {
    width: 280px;
    height: 50px;
    margin: 20px auto;
    border: none;
    background-color: #006166d3;
    box-shadow: rgb(13, 33, 31) 3px 3px 4px 1px;

    border-radius: 2px;
  }
  .submail::placeholder {
    color: rgb(181, 181, 189);
    font-size: 16px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
  }

  .submail:focus {
    text-align: center;
    font-size: 16px;

    color: #2c2c2b;
    outline: none;
  }
  label[for="subscription"] {
    display: flex;
    width: 280px;
    height: 40px;
    color: #07fbfb;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
  }

  .footermenu {
    width: 210px;
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    font-family: "Roboto", sans-serif;
    gap: 10px;
  }

  li .footermenu:hover {
    /* ????????????????????????????????????????? */
    cursor: pointer;
    font-weight: bold;
    color: #f4e849;
    transform: scale();
    transition: 0.1s;
  }

  .site-info {
    display: flex;
    width: 280px;
    height: 230px;
    margin: 15px auto;

    justify-content: center;
    border-left: 1px solid rgba(41, 40, 40, 0.374);
    border-right: 1px solid rgba(41, 40, 40, 0.374);

    box-shadow: rgba(41, 40, 40, 0.545) 0px 0px 0px 0px;
  }

  h4 {
    width: 280px;
    text-align: center;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    font-family: "Do Hyeon", sans-serif;
    font-weight: bold;
  }

  /* this is footer's last section of following and social links */

  .follow {
    width: auto;
    height: 100px;
    background-image: linear-gradient(to right, #007b7d, #31585b, #0a1618);
  }

  .following-section {
    width: 440px;
    height: 100px;

    margin: 0px auto;

    justify-content: center;
    align-items: center;

    gap: 2px;
  }

  .e-pay {
    display: flex;
    width: 100px;
    height: 80px;

    justify-content: center;
    align-items: center;
  }

  .footer-account {
    width: 100px;
    height: 100px;

    justify-content: center;
  }

  .footer-account-button {
    width: 100px;
    height: 25px;

    background-color: #2d2d2dc0;
    border: none;

    justify-content: center;
    margin-left: 0px;
  }

  .acclink {
    text-decoration: none;
    color: #07fbfb;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
  }

  .socicons {
    display: flex;
    width: 80px;
    height: 100px;

    gap: 1px;
    justify-content: space-between;
    align-items: center;
  }

  .sort-icons {
    border: 3px solid rgba(2, 255, 234, 0.623);
    box-shadow: rgba(21, 21, 21, 0.611) 3px 8px 8px 2px;
    width: 400px;
    height: 35px;
    border-radius: 5px;
  }

  /* slider styles */
  .carousel {
    width: 590px;
    height: 350px;
    position: relative;
    display: none;
  }

  .carousel2 {
    width: 340px;
    height: 350px;
    position: relative;
    display: block;
  }

  .carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
  }

  .slide > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
  }

  .carousel-button {
    width: 50px;
    height: 40px;
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    display: flex;
    top: 90%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    border-radius: 0.2rem;
    padding: 0 0.5rem;
    background-color: rgba(0, 0, 0, 0.311);
    justify-content: center;
    align-items: center;
  }

  .carousel-button:hover,
  .carousel-button:focus {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .carousel-button:focus {
    outline: 1px solid black;
  }

  .carousel-button.prev {
    left: 10px;
  }

  .carousel-button.next {
    left: 65px;
  }
}
